/* 
☆ flawless pre-release-v0.4.1 for obsidian 1.0.0+ 
  created by @sahdudeone
  reference sheet for inline-html styling:
  https://publish.obsidian.md/sahdudeone/%E2%98%85+flawless/%E2%98%86+flawless+styling+guide
*/

.theme-dark {
  --color-base-00: #210f04;
  --color-base-10: #332107;
  --color-base-20: #452103;
  --color-base-25: #571300;
  --color-base-30: #562d1b;
  --color-base-35: #5b2f1b;
  --color-base-40: #934b00;
  --color-base-50: #dfa45c;
  --color-base-60: #bb6b00;
  --color-base-70: #ffb14c;
  --color-base-100: #ffc774;
}
.workspace-split.mod-root .workspace-tab-header.is-active::before, .workspace-split.mod-root .workspace-tab-header.is-active::after {
  --tab-curve: 4px;
}
.view-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.workspace .mod-root .workspace-tab-header-inner::after {
  display: none;
}
.collapse-icon {
  display: none;
}
.nav-file-title-content {
  color: #fdc283 ;
}



/* this section defines css classes to allow for styling solid-colored text*/
.white {
  color: #FFFFFF;
}
.silver {
  color: #C0C0C0;
}
.gray {
  color: #808080;
}
.black {
  color: #000000;
}
.red {
  color: #FF0000;
}
.maroon {
  color: #800000;
}
.orange {
  color: #F47E22;
}
.yellow {
  color: #FFFF00;
}
.olive {
  color: #808000;
}
.lime {
  color: #00FF00;
}
.green {
  color: #008000;
}
.aqua {
  color: #00FFFF;
}
.teal {
  color: #008080;
}
.blue {
  color: #0000FF;
}
.navy {
  color: #000080;
}
.fuchsia {
  color: #FF00FF;
}
.purple {
  color: #800080;
}
.chenin {
  color: #e3df7a;
}
.emerald {
  color: #4fcc73;
}

/* this section defines css classes for styling gradient-colored text.*/ 
.white-gray {
background: linear-gradient(to right, #FFFFFF, #808080);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.white-black {
background: linear-gradient(to right, #FFFFFF, #000000);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.white-red {
background: linear-gradient(to right, #FFFFFF, #FF0000);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.white-orange {
background: linear-gradient(to right, #FFFFFF, #F47E22);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.white-yellow {
background: linear-gradient(to right, #FFFFFF, #FFFF00);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.white-lime {
background: linear-gradient(to right, #FFFFFF, #00FF00);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.white-green {
background: linear-gradient(to right, #FFFFFF, #008000);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.white-aqua {
background: linear-gradient(to right, #FFFFFF, #00FFFF);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.white-blue {
background: linear-gradient(to right, #FFFFFF, #0000FF);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.white-purple {
background: linear-gradient(to right, #FFFFFF, #800080);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gray-white {
  background: linear-gradient(to right, #808080, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gray-black {
  background: linear-gradient(to right, #808080, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gray-red {
  background: linear-gradient(to right, #808080, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gray-orange {
  background: linear-gradient(to right, #808080, #F47E22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gray-yellow {
  background: linear-gradient(to right, #808080, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gray-lime {
  background: linear-gradient(to right, #808080, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gray-green {
  background: linear-gradient(to right, #808080, #008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gray-aqua {
  background: linear-gradient(to right, #808080, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gray-blue {
  background: linear-gradient(to right, #808080, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gray-purple {
  background: linear-gradient(to right, #808080, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.black-white {
  background: linear-gradient(to right, #000000, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.black-gray {
  background: linear-gradient(to right, #000000, #808080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.black-red {
  background: linear-gradient(to right, #000000, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.black-orange {
  background: linear-gradient(to right, #000000, #F47E22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.black-yellow {
  background: linear-gradient(to right, #000000, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.black-lime {
  background: linear-gradient(to right, #000000, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.black-green {
  background: linear-gradient(to right, #000000, #008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.black-aqua {
  background: linear-gradient(to right, #000000, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.black-blue {
  background: linear-gradient(to right, #000000, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.black-purple {
  background: linear-gradient(to right, #000000, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.red-white {
  background: linear-gradient(to right, #FF0000, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.red-gray {
  background: linear-gradient(to right, #FF0000, #808080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.red-black {
  background: linear-gradient(to right, #FF0000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.red-orange {
  background: linear-gradient(to right, #FF0000, #F47E22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.red-yellow {
  background: linear-gradient(to right, #FF0000, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.red-lime {
  background: linear-gradient(to right, #FF0000, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.red-green {
  background: linear-gradient(to right, #FF0000, #008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.red-aqua {
  background: linear-gradient(to right, #FF0000, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.red-blue {
  background: linear-gradient(to right, #FF0000, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.red-purple {
  background: linear-gradient(to right, #FF0000, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.orange-white {
  background: linear-gradient(to right, #F47E22, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.orange-gray {
  background: linear-gradient(to right, #F47E22, #808080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.orange-black {
  background: linear-gradient(to right, #F47E22, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.orange-red {
  background: linear-gradient(to right, #F47E22, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.orange-yellow {
  background: linear-gradient(to right, #F47E22, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.orange-lime {
  background: linear-gradient(to right, #F47E22, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.orange-green {
  background: linear-gradient(to right, #F47E22, #008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.orange-aqua {
  background: linear-gradient(to right, #F47E22, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.orange-blue {
  background: linear-gradient(to right, #F47E22, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.orange-purple {
  background: linear-gradient(to right, #F47E22, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yellow-white {
  background: linear-gradient(to right, #FFFF00, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yellow-gray {
  background: linear-gradient(to right, #FFFF00, #808080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yellow-black {
  background: linear-gradient(to right, #FFFF00, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yellow-red {
  background: linear-gradient(to right, #FFFF00, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yellow-orange {
  background: linear-gradient(to right, #FFFF00, #F47E22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yellow-lime {
  background: linear-gradient(to right, #FFFF00, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yellow-green {
  background: linear-gradient(to right, #FFFF00, #008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yellow-aqua {
  background: linear-gradient(to right, #FFFF00, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yellow-blue {
  background: linear-gradient(to right, #FFFF00, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yellow-purple {
  background: linear-gradient(to right, #FFFF00, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lime-white {
  background: linear-gradient(to right, #00FF00, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lime-gray {
  background: linear-gradient(to right, #00FF00, #808080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lime-black {
  background: linear-gradient(to right, #00FF00, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lime-red {
  background: linear-gradient(to right, #00FF00, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lime-orange {
  background: linear-gradient(to right, #00FF00, #F47E22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lime-yellow {
  background: linear-gradient(to right, #00FF00, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lime-green {
  background: linear-gradient(to right, #00FF00, #008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lime-aqua {
  background: linear-gradient(to right, #00FF00, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lime-blue {
  background: linear-gradient(to right, #00FF00, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lime-purple {
  background: linear-gradient(to right, #00FF00, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-white {
  background: linear-gradient(to right, #008000, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-gray {
  background: linear-gradient(to right, #008000, #808080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-black {
  background: linear-gradient(to right, #008000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-red {
  background: linear-gradient(to right, #008000, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-orange {
  background: linear-gradient(to right, #008000, #F47E22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-yellow {
  background: linear-gradient(to right, #008000, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-lime {
  background: linear-gradient(to right, #008000, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-aqua {
  background: linear-gradient(to right, #008000, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-blue {
  background: linear-gradient(to right, #008000, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-purple {
  background: linear-gradient(to right, #008000, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aqua-white {
  background: linear-gradient(to right, #00FFFF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aqua-gray {
  background: linear-gradient(to right, #00FFFF, #808080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aqua-black {
  background: linear-gradient(to right, #00FFFF, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aqua-red {
  background: linear-gradient(to right, #00FFFF, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aqua-orange {
  background: linear-gradient(to right, #00FFFF, #F47E22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aqua-yellow {
  background: linear-gradient(to right, #00FFFF, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aqua-lime {
  background: linear-gradient(to right, #00FFFF, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aqua-green {
  background: linear-gradient(to right, #00FFFF, #008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aqua-blue {
  background: linear-gradient(to right, #00FFFF, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aqua-purple {
  background: linear-gradient(to right, #00FFFF, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-white {
  background: linear-gradient(to right, #0000FF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-gray {
  background: linear-gradient(to right, #0000FF, #808080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-black {
  background: linear-gradient(to right, #0000FF, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-red {
  background: linear-gradient(to right, #0000FF, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-orange {
  background: linear-gradient(to right, #0000FF, #F47E22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-yellow {
  background: linear-gradient(to right, #0000FF, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-lime {
  background: linear-gradient(to right, #0000FF, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-green {
  background: linear-gradient(to right, #0000FF, #008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-aqua {
  background: linear-gradient(to right, #0000FF, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blue-purple {
  background: linear-gradient(to right, #0000FF, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purple-white {
  background: linear-gradient(to right, #800080, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purple-gray {
  background: linear-gradient(to right, #800080, #808080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purple-black {
  background: linear-gradient(to right, #800080, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purple-red {
  background: linear-gradient(to right, #800080, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purple-orange {
  background: linear-gradient(to right, #800080, #F47E22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purple-yellow {
  background: linear-gradient(to right, #800080, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purple-lime {
  background: linear-gradient(to right, #800080, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purple-green {
  background: linear-gradient(to right, #800080, #008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purple-aqua {
  background: linear-gradient(to right, #800080, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purple-blue {
  background: linear-gradient(to right, #800080, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* this section is the same, but for vertical gradients.*/ 

.white-gray-vert {
  background: linear-gradient(to bottom, #FFFFFF, #808080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .white-black-vert {
  background: linear-gradient(to bottom, #FFFFFF, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .white-red-vert {
  background: linear-gradient(to bottom, #FFFFFF, #FF0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .white-orange-vert {
  background: linear-gradient(to bottom, #FFFFFF, #F47E22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .white-yellow-vert {
  background: linear-gradient(to bottom, #FFFFFF, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .white-lime-vert {
  background: linear-gradient(to bottom, #FFFFFF, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .white-green-vert {
  background: linear-gradient(to bottom, #FFFFFF, #008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .white-aqua-vert {
  background: linear-gradient(to bottom, #FFFFFF, #00FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .white-blue-vert {
  background: linear-gradient(to bottom, #FFFFFF, #0000FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .white-purple-vert {
  background: linear-gradient(to bottom, #FFFFFF, #800080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .gray-white-vert {
    background: linear-gradient(to bottom, #808080, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gray-black-vert {
    background: linear-gradient(to bottom, #808080, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gray-red-vert {
    background: linear-gradient(to bottom, #808080, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gray-orange-vert {
    background: linear-gradient(to bottom, #808080, #F47E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gray-yellow-vert {
    background: linear-gradient(to bottom, #808080, #FFFF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gray-lime-vert {
    background: linear-gradient(to bottom, #808080, #00FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gray-green-vert {
    background: linear-gradient(to bottom, #808080, #008000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gray-aqua-vert {
    background: linear-gradient(to bottom, #808080, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gray-blue-vert {
    background: linear-gradient(to bottom, #808080, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gray-purple-vert {
    background: linear-gradient(to bottom, #808080, #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .black-white-vert {
    background: linear-gradient(to bottom, #000000, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .black-gray-vert {
    background: linear-gradient(to bottom, #000000, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .black-red-vert {
    background: linear-gradient(to bottom, #000000, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .black-orange-vert {
    background: linear-gradient(to bottom, #000000, #F47E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .black-yellow-vert {
    background: linear-gradient(to bottom, #000000, #FFFF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .black-lime-vert {
    background: linear-gradient(to bottom, #000000, #00FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .black-green-vert {
    background: linear-gradient(to bottom, #000000, #008000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .black-aqua-vert {
    background: linear-gradient(to bottom, #000000, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .black-blue-vert {
    background: linear-gradient(to bottom, #000000, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .black-purple-vert {
    background: linear-gradient(to bottom, #000000, #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .red-white-vert {
    background: linear-gradient(to bottom, #FF0000, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .red-gray-vert {
    background: linear-gradient(to bottom, #FF0000, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .red-black-vert {
    background: linear-gradient(to bottom, #FF0000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .red-orange-vert {
    background: linear-gradient(to bottom, #FF0000, #F47E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .red-yellow-vert {
    background: linear-gradient(to bottom, #FF0000, #FFFF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .red-lime-vert {
    background: linear-gradient(to bottom, #FF0000, #00FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .red-green-vert {
    background: linear-gradient(to bottom, #FF0000, #008000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .red-aqua-vert {
    background: linear-gradient(to bottom, #FF0000, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .red-blue-vert {
    background: linear-gradient(to bottom, #FF0000, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .red-purple-vert {
    background: linear-gradient(to bottom, #FF0000, #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .orange-white-vert {
    background: linear-gradient(to bottom, #F47E22, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .orange-gray-vert {
    background: linear-gradient(to bottom, #F47E22, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .orange-black-vert {
    background: linear-gradient(to bottom, #F47E22, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .orange-red-vert {
    background: linear-gradient(to bottom, #F47E22, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .orange-yellow-vert {
    background: linear-gradient(to bottom, #F47E22, #FFFF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .orange-lime-vert {
    background: linear-gradient(to bottom, #F47E22, #00FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .orange-green-vert {
    background: linear-gradient(to bottom, #F47E22, #008000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .orange-aqua-vert {
    background: linear-gradient(to bottom, #F47E22, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .orange-blue-vert {
    background: linear-gradient(to bottom, #F47E22, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .orange-purple-vert {
    background: linear-gradient(to bottom, #F47E22, #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .yellow-white-vert {
    background: linear-gradient(to bottom, #FFFF00, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .yellow-gray-vert {
    background: linear-gradient(to bottom, #FFFF00, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .yellow-black-vert {
    background: linear-gradient(to bottom, #FFFF00, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .yellow-red-vert {
    background: linear-gradient(to bottom, #FFFF00, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .yellow-orange-vert {
    background: linear-gradient(to bottom, #FFFF00, #F47E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .yellow-lime-vert {
    background: linear-gradient(to bottom, #FFFF00, #00FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .yellow-green-vert {
    background: linear-gradient(to bottom, #FFFF00, #008000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .yellow-aqua-vert {
    background: linear-gradient(to bottom, #FFFF00, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .yellow-blue-vert {
    background: linear-gradient(to bottom, #FFFF00, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .yellow-purple-vert {
    background: linear-gradient(to bottom, #FFFF00, #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lime-white-vert {
    background: linear-gradient(to bottom, #00FF00, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lime-gray-vert {
    background: linear-gradient(to bottom, #00FF00, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lime-black-vert {
    background: linear-gradient(to bottom, #00FF00, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lime-red-vert {
    background: linear-gradient(to bottom, #00FF00, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lime-orange-vert {
    background: linear-gradient(to bottom, #00FF00, #F47E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lime-yellow-vert {
    background: linear-gradient(to bottom, #00FF00, #FFFF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lime-green-vert {
    background: linear-gradient(to bottom, #00FF00, #008000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lime-aqua-vert {
    background: linear-gradient(to bottom, #00FF00, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lime-blue-vert {
    background: linear-gradient(to bottom, #00FF00, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .lime-purple-vert {
    background: linear-gradient(to bottom, #00FF00, #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .green-white-vert {
    background: linear-gradient(to bottom, #008000, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .green-gray-vert {
    background: linear-gradient(to bottom, #008000, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .green-black-vert {
    background: linear-gradient(to bottom, #008000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .green-red-vert {
    background: linear-gradient(to bottom, #008000, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .green-orange-vert {
    background: linear-gradient(to bottom, #008000, #F47E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .green-yellow-vert {
    background: linear-gradient(to bottom, #008000, #FFFF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .green-lime-vert {
    background: linear-gradient(to bottom, #008000, #00FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .green-aqua-vert {
    background: linear-gradient(to bottom, #008000, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .green-blue-vert {
    background: linear-gradient(to bottom, #008000, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .green-purple-vert {
    background: linear-gradient(to bottom, #008000, #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .aqua-white-vert {
    background: linear-gradient(to bottom, #00FFFF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .aqua-gray-vert {
    background: linear-gradient(to bottom, #00FFFF, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .aqua-black-vert {
    background: linear-gradient(to bottom, #00FFFF, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .aqua-red-vert {
    background: linear-gradient(to bottom, #00FFFF, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .aqua-orange-vert {
    background: linear-gradient(to bottom, #00FFFF, #F47E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .aqua-yellow-vert {
    background: linear-gradient(to bottom, #00FFFF, #FFFF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .aqua-lime-vert {
    background: linear-gradient(to bottom, #00FFFF, #00FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .aqua-green-vert {
    background: linear-gradient(to bottom, #00FFFF, #008000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .aqua-blue-vert {
    background: linear-gradient(to bottom, #00FFFF, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .aqua-purple-vert {
    background: linear-gradient(to bottom, #00FFFF, #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blue-white-vert {
    background: linear-gradient(to bottom, #0000FF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blue-gray-vert {
    background: linear-gradient(to bottom, #0000FF, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blue-black-vert {
    background: linear-gradient(to bottom, #0000FF, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blue-red-vert {
    background: linear-gradient(to bottom, #0000FF, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blue-orange-vert {
    background: linear-gradient(to bottom, #0000FF, #F47E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blue-yellow-vert {
    background: linear-gradient(to bottom, #0000FF, #FFFF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blue-lime-vert {
    background: linear-gradient(to bottom, #0000FF, #00FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blue-green-vert {
    background: linear-gradient(to bottom, #0000FF, #008000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blue-aqua-vert {
    background: linear-gradient(to bottom, #0000FF, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .blue-purple-vert {
    background: linear-gradient(to bottom, #0000FF, #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .purple-white-vert {
    background: linear-gradient(to bottom, #800080, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .purple-gray-vert {
    background: linear-gradient(to bottom, #800080, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .purple-black-vert {
    background: linear-gradient(to bottom, #800080, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .purple-red-vert {
    background: linear-gradient(to bottom, #800080, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .purple-orange-vert {
    background: linear-gradient(to bottom, #800080, #F47E22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .purple-yellow-vert {
    background: linear-gradient(to bottom, #800080, #FFFF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .purple-lime-vert {
    background: linear-gradient(to bottom, #800080, #00FF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .purple-green-vert {
    background: linear-gradient(to bottom, #800080, #008000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .purple-aqua-vert {
    background: linear-gradient(to bottom, #800080, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .purple-blue-vert {
    background: linear-gradient(to bottom, #800080, #0000FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  